<div class="scroller">
<div class="heading"></div>
<div class="date">
<div class="day">
  <div class="null"></div>
  <div class="null"></div>
  <div class="null"></div>
  <div *ngFor="let day of days">{{day}}</div>
  <div class="null"></div>
  <div class="null"></div>
</div>
<div class="month">
  <div class="null"></div>
  <div class="null"></div>
  <div class="null"></div>
  <div *ngFor="let month of months">{{month}}</div>
  <div class="null"></div>
  <div class="null"></div>
</div>
<div class="year">
  <div class="null"></div>
  <div class="null"></div>
  <div class="null"></div>
  <div *ngFor="let year of years">{{year}}</div>
  <div class="null"></div>
  <div class="null"></div>
</div>
</div>
</div>